<!DOCTYPE html>
<html lang="en" ng-app="example-app">
  <head>
    <meta charset="utf-8" />
    <title>angular-weekly example</title>
     <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link rel="stylesheet" href="../bower_components/weekly/dist/weekly.css"/>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../dist/angular-weekly.full.js"></script>
    <script src="../bower_components/weekly/dist/weekly-mobile.js"></script>
    <script src="app.js"></script>
    <style>
      body {
        font-family: Helvetica, Arial;
      }
      .utils {
        margin-top: 10px;
      }
      .weekly-event-clicked {
        background: red !important;
      }
    </style>
  </head>
  <body>
    <div ng-controller="MainController">
      <div weekly ng-model="events" weekly-add="addEvent(event)" weekly-remove="removeEvent(event)" weekly-change="weekChanged(data)" weekly-click="eventClick(event, el)" weekly-timezone="timezoneOffset" weekly-read-only="readonly"></div>
      <div weekly ng-model="events" weekly-mobile weekly-add="addEvent(event)" weekly-remove="removeEvent(event)" weekly-change="weekChanged(data)" weekly-click="eventClick(event, el)" weekly-timezone="timezoneOffset" weekly-read-only="readonly"></div>
      <div class="utils">
        <span>Timezone Select</span>
        <select ng-model="timezoneOffset">
          <option value="-8">-8</option>
          <option value="-7">-7</option>
          <option value="-6">-6</option>
        </select>
        <button ng-click="addAnotherEvent()">Add Event</button>
        <button ng-click="readonly = !readonly">Readonly {{!readonly && 'Off' || 'On'}}</button>
      </div>
    </div>
  </body>
</html>
